<h1>Editing Organisations Profile</h1>

<%= render 'form', organisations_profile: @organisations_profile %>

<%= link_to 'Show', @organisations_profile %> |
<%= link_to 'Back', organisations_profiles_path %>
