<div class="heading">
    <h1 class="centered-heading">New Organisations Profile</h1>
</div>
<%= render 'form', organisations_profile: @organisations_profile %>

<%= link_to 'Back', organisations_profiles_path %>
