<h1>Make a Donation</h1>
<%= link_to "Read about out organisations here", organisations_profiles_path %>

<div class="featured-org">
    <h3>This month's featured organisation </h3>
    <h4>location</h4>
    <%= image_tag %>
    <h3>organisation name</h3>
    <p>description</p>
    <%= link_to donate page%>
</div>

<div class="donate-location">
<h3>donate to a shelter near you</h3>
<h4>Enter a postcode/suburb name below</h4>
<p>insert location search</p>
</div>

<div class="donate-list">
    <h3>Or </h3>
</div>