<nav class="navbar navbar-expand-lg navbar-light" >
  <a class="navbar-brand" href="#">Pet Place</a>
  <%# <span class="navbar-brand mb-0 h1">Pet Place</span> %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%# <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> %>
      <%# <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a> %>
      <%# <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> %>
       
    </div>
    </div>

    <div class="navbar-nav">
        <%= link_to "Listings", listings_path, class:"nav-item nav-link"%> 
        <%# <a class="nav-item nav-link" href="#">Listings</a> %>
        <%= link_to "Organisations", organisations_profiles_path, class:"nav-item nav-link" %>
        <%# <a class="nav-item nav-link" href="#">Organisations</a> %>
        <%# <a class="nav-item nav-link" href="#">Resources</a> %>
        <%#= link_to "Resources", /, class:"nav-item nav-link" %>
        <%# <a class="nav-item nav-link" href="#">Contact</a> %>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-primary">Donate</button></a>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-primary">login</button></a>
    </div>

</nav>