<%#= if current_user.%>
<div>
    <h1>Welcome to Pet Place!</h1>
    <h4>Take a look at all of our lovely pets in need of a loving new homes and help save a life!</h4>
    <p>Log in or create a new account below:</p>
    <button type="button" class="btn btn-primary btn-lg"><%= link_to "I am a fosterer or buyer", user_login_path %></button>
    <button type="button" class="btn btn-primary btn-lg"><%= link_to "I am a shelter or rescue group", organisation_login_path%></button>
</div>



<%# if current user signed in, show this, else show this
signed in = show full home page

 %>