<h1>Resources</h1>

<div class="resources">
    <div class="resource-section">
        <h3>RSPCA</h3>
        <a href="#"></a>
    </div>

    <div class="resource-section">
        <h3>Adopting</h3>
        <a href="#"></a>
    </div>

    <div class="resource-section">
        <h3>Fostering</h3>
        <a href="#"></a>
    </div>

    <div class="resource-section">
        <h3>Dogs</h3>
        <a href="#"></a>
    </div>

    <div class="resource-section">
        <h3>Cats</h3>
        <a href="#"></a>
    </div>
</div>

