<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to "I am a buyer or a fosterer", new_user_registration_path %></button>
<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to "We are a shelter or a rescue group", new_organisation_registration_path %></button>