// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-title{
    text-align: center;
    background-color: #f2f2f2;
    width: 100%;
    height: 13em;
    
    z-index: -1;
    h1{
        padding-top: 3%;
        font-size: 4em;
    }


}


.carousel-inner{
    height: 30em; 
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 50%;
    margin: auto;
}

// carousel
// #myCarousel{
    
//  }

.about-page{
    display: flex;
    flex-direction: column;
}
.about-text{
    text-align: center;

    h2{
        font-size: 3em
    }

    p{
        font-size: 1em;
        padding: 1% 5%;
    }
}