
.home-title{
    text-align: center;
    // background-color: #f2f2f;
    width: 100%;
    height: 13em;
    color: black;
    z-index: -1;
    h1{
        padding-top: 3%;
        font-size: 4em;
    }


}




// carousel :
.carousel-inner{
    height: 30em; 
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 50%;
    margin: auto;
}

// carousel
// #myCarousel{
    
//  }


// about : 

.about-page{
    display: flex;
    flex-direction: column;
    
}
.about-text{
    text-align: center;
    color: black;
    h2{
        font-size: 3em;
        color: black;
    }

    p{
        font-size: 1em;
        padding: 1% 5%;
    }
}