.donate-wrapper{
    display: flex;
    flex-direction: column;
    .donate-centered{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }


}

#donate-card{
    width: 30em;
    border: 0.025em solid rgba(0, 0, 0, 0.3);
}

.card-title-border{
    border-bottom: 0.025em solid rgba(0, 0, 0, 0.3);
}

.donate-organisation{
    background-color: #cfcfcf;
    width: 100%;
    
    padding: 0.3em 1.25em 0.3em 1.25rem;
    text-align: center;
}
#donate-card-body{
    padding: 0;
    p{
        padding: 0 1.25rem 1.25rem 1.25rem;
    }

}

#donate-button{
    padding: 0;
    margin-bottom: 0.3em;
    .btn-profile{
        padding: 0.5em 13.3075em;
    }
    
}

.payment-btn{
    background-color: #dbffe6;
    border: none;
    box-shadow: -2px 2px 0px 0 rgba(178,212,187,0.9);
}