.home-page{
    
    // justify-content: center;
    .home-section{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .buttons-h{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .btn-profile{
                width: 49%;
                text-align: center;
            }
            .second-btn{
                margin-right: 0;
            }
        }
        
        
    }
}