// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.listing-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

// .listing-inputs{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-self: auto;
//     flex-grow: 1;
//     width: 100%;
// }

// .form-inputs{
//     display: flex;
//     align-items: stretch;
//     flex-wrap: nowrap;
// }


// images:
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
//   /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
//   /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
//   /* The expanding image container */
  .container-listing {
    position: relative;
    display: none;
  }
  
//   /* Expanding image text */
//   #imgtext {
//     position: absolute;
//     bottom: 15px;
//     left: 15px;
//     color: white;
//     font-size: 20px;
//   }
  
//   /* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.image-wrapper{
    width: 50%;
    img{
        max-height: 50vh;
        max-width: 90%;
        object-fit: cover;
    }
}
.listing-top-wrapper{
    display: flex;
    flex-direction: row;

}