// Place all the styles related to the OrganisationsProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card-rows{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .card{
        margin: 5%;

        .profile-links{
            background-color: #dbffe6;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .profile-edit-link{
                background-color: white;
               
                
            }


        }
        
        
    }

}

.profile-heading{
    // background-color: #ededed;
    height: 8em;
    h1{
        padding-top: 3%;
    }
}
.centered-heading{
    text-align: center;

}

.profile-img{
    margin: 0 !important;
    
    img{
        width: 100%;
        height: 18em;
        object-fit: cover;
        object-position: 50% 30%;
    }
}

.contact-details{
    background-color: #dbffe6;
    padding: 3%;
}


.org-profile{

    .org-p-top-section{
        display: flex;
        flex-direction: row;
    }

    
    .bio{
        // background-color: #ededed;
        padding: 3%;
        width: 100%;
    }
}
